<div class="modal fade" id="review">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="contact-dealer-form">
        <button type="button" class="close" data-dismiss="modal">
          <i class="ti-close"></i>
        </button>
        <form class="validate-form">
          <span class="login100-form-title"
            >Fill out this one-time contact form</span
          >
          <div class="wrap-input100">
            <div class="star-rating input100">
              <input type="radio" id="5-stars" value="5" />
              <label for="5-stars" class="star">&#9733;</label>
              <input type="radio" id="4-stars" value="4" />
              <label for="4-stars" class="star">&#9733;</label>
              <input type="radio" id="3-stars" value="3" />
              <label for="3-stars" class="star">&#9733;</label>
              <input type="radio" id="2-stars" value="2" />
              <label for="2-stars" class="star">&#9733;</label>
              <input type="radio" id="1-star" value="1" />
              <label for="1-star" class="star">&#9733;</label>
            </div>
            <span class="symbol-input100">
              <i class="ti-hand-point-right" aria-hidden="true"></i>
            </span>
          </div>
          <div class="wrap-input100 review-field">
            <textarea
              class="input100"
              type="text"
              placeholder="Write your review here..."
            ></textarea>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="ti-pencil" aria-hidden="true"></i>
            </span>
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Next</button>
          </div>
        </form>
      </div>
      <div class="contact-dealer-form">
        <button type="button" class="close" data-dismiss="modal">
          <i class="ti-close"></i>
        </button>
        <form class="validate-form">
          <span class="login100-form-title"
            >Fill out this one-time contact form</span
          >
          <span></span>
          <div class="form-group row">
            <div
              class="col-md-12 col-12 d-flex justify-content-center list-property-type"
            >
              <div class="radiobtn">
                <label for="renewal">
                  <input
                    type="radio"
                    required
                    class="agree"
                    id="renewal"
                    
                    value="1"
                  />
                  <div>
                    <img
                      src="assets/images/icons/rent.png"
                      alt="residential"
                      class="img-fluid"
                    />
                    <i class="ti-check"></i>
                  </div>
                  <p>Renewal</p>
                </label>
              </div>
              <div class="radiobtn">
                <label for="soldout">
                  <input
                    type="radio"
                    required
                    class="agree"
                    id="soldout"
                    
                    value="2"
                  />
                  <div>
                    <img
                      src="assets/images/icons/buy.png"
                      alt="residential"
                      class="img-fluid"
                    />
                    <i class="ti-check"></i>
                  </div>
                  <p>Sold Out</p>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12 text-center" style="display: inline-block">
            <button class="btn btn-danger">Submit</button>
          </div>
        </form>
      </div>
      <div class="contact-dealer-thanks">
        <button type="button" class="close" data-dismiss="modal">
          <i class="ti-close"></i>
        </button>
        <div class="thanks-msg">
          <img
            src="assets/images/contact-thanks-image.png"
            class="img-fluid"
            alt="thank you"
          />
          <span class="login100-form-title">Thank You</span>
          <span
            >Your message has been received and we will be contacting you
            shortly to follow-up. If you would like to speak to someone
            immediately feel free to call.
          </span>
        </div>
        <div>
          <div class="login100-pic">
            <img src="assets/images/thanku.jpg" alt="IMG" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
