<!-- <input
  type="text"
  ng2TelInput
  [ng2TelInputOptions]="{ separateDialCode: true, preferredCountries: this.pc }"
/> -->

<!-- <app-chart></app-chart> -->
<!-- <app-apexchart></app-apexchart> -->
<!-- <app-date></app-date> -->
<!-- <app-search></app-search> -->
<!-- <app-checked></app-checked> -->
<!-- <app-formcheck></app-formcheck> -->
<!-- <app-cnfrmpsw></app-cnfrmpsw> -->
<!-- <app-htmltopdf></app-htmltopdf> -->
<!-- <app-quicklisting></app-quicklisting> -->
<!-- <app-imageupload></app-imageupload> -->
<!-- <app-feedback></app-feedback> -->
<!-- <app-header></app-header> -->
<app-oldproject></app-oldproject>
<!-- <app-screenshot></app-screenshot> -->
<!-- <app-pdftomail></app-pdftomail> -->